body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#clearButton {
  margin: 0 auto;
  display: block;
}

ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

li button {
  background-color: #ff0000;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  form {
    flex-wrap: wrap;
  }

  input {
    width: 80%;
    margin-bottom: 10px;
  }

  button {
    width: 20%;
  }

  ul {
    width: 100%;
  }
}


